.screen:hover .logo {
  transform: translateX(100%);
}

body {
background-color: white;
}

h1 {
  text-align: center;
}

.screen {
background-color: black;
height: 630px;
width: 1420px;
}

.logo {
background-color: red;
height: 170px;
width: 220px;
